// Color Variables
$primary-color: #FFCC01;
$secondary-color: #006CB7;
$accent-color: #013CBA;
$text-color: #FFFFFF;
// Poppins Font Regular
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// Popping Font Bold
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
// Poppins Front SemiBold
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');



#landingPage{
    background-color: $primary-color;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: 1fr 5fr;
    .titleDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        h1{
            text-align: center;
            color: $text-color;
            padding: 3rem 0;
            line-height: 4rem;

            font-size: 4rem;
            font-weight: 800;
            @media screen and (min-width: 700px){
                font-size:6rem;
                padding: 6rem 0;
            }
            @media screen and (min-width: 900px){
                font-size:8rem;
                padding: 6rem 0;
            }
        }
        
    }
    main{
        background-color: $secondary-color;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 3.75rem;
        border-top-right-radius: 3.75rem;
        @media screen and (min-width: 700px){
            border-top-left-radius: 6.75rem;
            border-top-right-radius: 6.75rem;
        }

        p{
            padding: 2rem;
            font-size: 1.75rem;
            color: $text-color;
            font-weight: 600;
            text-align: center;
            @media screen and (min-width: 900px){
                font-size: 3rem;
                padding: 3rem 25vw;
            }
        }
        button{
            padding: .75rem;
            font-size: 1.5rem;
            border-radius: 5px;
            background-color: transparent;
            font-weight: 400;
            border: 2px solid $text-color;
            color: $text-color;
            display: flex;
            align-items: center;
            gap: .5rem;
            cursor: pointer;
            @media screen and (min-width: 500px){

            }
            &:hover{
                background-color: #013cba5e;
                transition: all .25s ease-in-out;
            }
        }
    }
}