// Color Variables
$primary-color: #FFCC01;
$secondary-color: #006CB7;
$accent-color: #013CBA;
$text-color: #FFFFFF;

#landingPage{
    background-color: $primary-color;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: 1fr 5fr;
    z-index: 10;
    

    .titleDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        z-index: 10;
        h1{
            text-align: center;
            color: $text-color;
            padding: 3rem 0;
            line-height: 5rem;
            user-select: none;

            font-size: 5rem;
            font-weight: 800;
            @media screen and (max-width: 400px){
                padding: 3rem 0;
            }
            @media screen and (min-width: 700px){
                font-size:6rem;
                padding: 6rem 0;
            }
            @media screen and (min-width: 900px){
                font-size:8rem;
                padding: 6rem 0;
            }
        }
        
    }
    main{
        box-shadow: 0px 10px 20px 7.5px rgba(0, 0, 0, 0.5);
        
        z-index: 1000;
        background-color: $accent-color;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 3.75rem;
        border-top-right-radius: 3.75rem;
        @media screen and (min-width: 700px){
            border-top-left-radius: 6.75rem;
            border-top-right-radius: 6.75rem;
        }

        p{
            padding: 3rem 2rem 2rem;
            font-size: 2.5rem;
            color: $text-color;
            font-weight: 600;
            text-align: center;
            user-select: none;
            @media screen and (max-width: 400px){
                font-size: 2rem;
            }     

            @media screen and (min-width: 900px){
                font-size: 3rem;
                padding: 3rem 25vw;
            }
        }
        button{
            padding: .75rem;
            font-size: 1.5rem;
            border-radius: 5px;
            background-color: transparent;
            font-weight: 400;
            border: 2px solid $text-color;
            color: $text-color;
            display: flex;
            align-items: center;
            gap: .5rem;
            cursor: pointer;
            @media screen and (min-width: 500px){
                font-size: 2rem;
            }
            &:hover{
                background-color: $secondary-color;
                transition: all .25s ease-in-out;
            }
        }
    }
}
