// Color Variables
$primary-color: #FFCC01;
$secondary-color: #006CB7;
$accent-color: #013CBA;
$text-color: #FFFFFF;

#difficulty{
    background-color: $primary-color;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: 1fr 5fr;
    z-index: 10;
    

    .titleDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        z-index: 10;
        h1{
            text-align: center;
            color: $text-color;
            padding: 3rem 0;
            line-height: 4rem;
            user-select: none;
            cursor: pointer;

            font-size: 3rem;
            font-weight: 800;
            @media screen and (min-width: 700px){
                font-size:5rem;
                padding: 6rem 0;
            }
            @media screen and (min-width: 900px){
                font-size:6rem;
                padding: 6rem 0;
            }
        }
        
    }
    main{
        box-shadow: 0px 10px 20px 7.5px rgba(0, 0, 0, 0.5);
    
        z-index: 1000;
        background-color: $secondary-color;

        margin: 0;
        padding: 3rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        border-top-left-radius: 3.75rem;
        border-top-right-radius: 3.75rem;
        @media screen and (min-width: 600px){
            gap: 3rem;
        }
        .difficultyDiv{
            color: $text-color;
            color: $text-color;
            background-color: $accent-color;
            width: 80%;
            cursor: pointer;
            
            padding: 1rem;
            text-align: center;
            letter-spacing: .1rem;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.175);
            transition: all .15s ease-in-out;
            @media screen and (min-width: 600px){
                width: 40%;
                padding: 1rem;
                &:hover{
                    transform: translateY(-10%);
                    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.175);
                }
            }
        }
       
    }
}