// Color Variables
$primary-color: #FFCC01;
$secondary-color: #006CB7;
$accent-color: #013CBA;
$text-color: #FFFFFF;
#quiz{
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    height: 100%;
    
    .title{
        width: 100%;
        display: flex;
        padding: .5rem 9.75%;
        color: $text-color;
        font-family: 'Poppins', sans-serif;
        border-bottom: solid $primary-color 1px;

        align-items: center;
        justify-content: space-between;
        display: flex;
        background-color: $secondary-color;
        font-size: 1.25rem;
        h5{
            padding: 0;
            user-select: none;
        }
        @media screen and (min-width: 600px){
            font-size: 2.75rem;
            letter-spacing: .15rem;
            padding: 1rem 6.75%;

        }
    }
    header{
        height: 30%;
        display: flex;
        align-items: center;
        
        background-color: $secondary-color;

        h4{
            color: $text-color;
            font-family: 'Poppins', sans-serif;
            padding: .75rem;
            text-align: center;
            width: 100%;
            letter-spacing: .1rem;

            font-size: 1.2rem;
            @media screen and (min-width: 600px){
                font-size: 1.5rem;

            }
        }

    }
    main{
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 3rem 0;
        gap: 0;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 1rem;
        box-shadow: 0px 10px 20px 7.5px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 3.75rem;
        border-top-right-radius: 3.75rem;
        @media screen and (min-width: 600px){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
        }
        .green{
            background-color: #00e400c9;
            transition: all .15s
        }
        .red{
            background-color: #E93036;
            transition: all .15s
        }

        // POSSIBLE ANSWER DIVS
        div{
            background-color: $accent-color;
            padding: .25rem;
            width: 80%;
            flex: 1;
            border-radius: 10px;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            flex-grow: 0;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
            transition: all .2s ease-in-out;
            @media screen and (min-width: 600px){
                width: 40%;
                flex: 0 0 auto;
                padding: 1rem;

                height: 40%;
                &:hover{
                    transform: translateY(-10%);
                    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.25);
                }
            }

            
            h3{
                background-color: transparent;
                padding: 1rem;
                text-align: center;
                color: white;
                letter-spacing: .1rem;
                user-select: none;
                pointer-events: none;


                border-radius: 10px;
                @media screen and (min-width: 600px){
                    font-size: 1.75rem;
                }
            }
        }
    }
}